body{
    background-color: rgb(20, 20, 20);
    color: #fff;
}
/*------------nav bar-----------*/
/*----
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: red;
    padding-top: -50px;
}
*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-left: 1300px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 19px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/*------------header-----------*/
.header-text{
    text-align: center;
    margin: 5px 200px;
    font-size: 20px;
}
.header-text h1 span{
    color:coral;
}
/*------------img-----------*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
/*
.header-text h1 span{
    color:coral
}
*/
/*------------CPU-----------*/
.about-col-1 h1{
text-align: center;
}
.about-col-1 p{
    text-align: center;
}
.about-col-1{
    text-align: center;
    margin: 80px 200px;
    font-size: 20px;
}
.about-col-1 img{
    width: 90%;
    border-radius: 15px;
    image-rendering: optimizeQuality;
}
/*------------GPU-----------
.about-col-2 h1 span{
    color: #00ff1a;
}
*/
.about-col-2 h1{
    text-align: center;
}
.about-col-2 p{
    text-align: center;
}
.about-col-2{
    text-align: center;
    margin: 80px 200px;
    font-size: 20px;
}
.about-col-2 img{
    width: 90%;
    border-radius: 15px;
    image-rendering: optimizeQuality;
}
/*------------copyright-----------*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #1b1b1b;
    font-weight: 300;
    margin-top: 20px;
    padding-bottom: 20;
    margin-bottom: 0;
}
